@tailwind base;
@tailwind components;
@tailwind utilities;

#pause-button:not([data-paused]) > #pause-icon {
	display: block;
}
#pause-button[data-paused] > #pause-icon {
	display: none;
}

#pause-button:not([data-paused]) > #play-icon {
	display: none;
}
#pause-button[data-paused] > #play-icon {
	display: block;
}

#toggle-fullscreen:not([data-fullscreen]) > #maximise-icon {
	display: block;
}
#toggle-fullscreen[data-fullscreen] > #maximise-icon {
	display: none;
}

#toggle-fullscreen[data-fullscreen] > #minimise-icon {
	display: block;
}

#toggle-fullscreen:not([data-fullscreen]) > #minimise-icon {
	display: none;
}
